<div class="cont">
  <h4>
    News & <b>Articles</b>
    <marquee>Read what's happening in Real Estate</marquee>
  </h4>
  <div class="subcont">
    <div *ngFor="let data of topHeadlinesData">
      <div class="box">
        <img src="{{ data.urlToImage }}" alt="image" width="100%" onerror="this.onerror=null; this.src='../../../assets/download (1).jpg'">
        <h5 class="mt-3 mb-3">{{ data.title |short:30}}</h5>
        <a class="btn btn-dark btn-sm" href="{{ data.url }}" target="_blank">Read More</a>
      </div>
    </div>
  </div>
</div>
